.git
.gitignore
.vscode
.idea
.cache
.config
.local
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
.mypy_cache
.pytest_cache
.ruff_cache
.venv
venv
env
input_data
output
results
torchscript
weights
weights_*
*.pt
*.pth
*.ckpt
